    .basic-header-1 {
        width:100%;
        background-color:#191c21;
        box-shadow:0 2px 0 rgba(255,255,255,.2);
        position:relative;
        z-index:2;
    
    }
    .basic-header-1 .logo {
        text-align:center;
        padding-top:5px;
        padding-bottom:5px;
    }

    .basic-header-2 {
        width: 100%;
        background-color: rgba(18,19,24,.81);
        box-shadow: 0 2px 0 rbga (255, 255, 255, 0.2);
        position: relative;
        z-index:2;
    }

    .basic-header-2 .logo-2 {
        text-align: center;
        padding-top: 10px;
        padding-bottom:20px;
    }

    .basic-header-2 .logo-2 .logo-2-text{
        color: #c2a657;
        font-size: 25px;
        margin-bottom: 3px;
    }

    .content {
        background-image: url("../../resources/templates/images/background.png");
    }


    #backgroundimage {
        height: auto;
        left: 0;
        margin: 0;
        min-height: 100%;
        min-width: 674px;
        padding: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: -1;
    }

.search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid #c2a657;
    border-right: none;
    padding: 5px;
    height: 24px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
  
  .searchTerm:focus{
    color: #c2a657;
  }
  
  .searchButton {
    width: 40px;
    height: 40px;
    border: 1px solid #c2a657;
    background: #c2a657;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  
  /*Resize the wrap to see the search bar change!*/
  .wrap{
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 20px;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
  }
  
  /* This class is applied to the containing div <div class="nav"> and is used to set the background color and height of the navbar */
  .nav {
    background-color:#191c21;
    height: 50px; /* set same as height & line-height below */
    box-shadow:0 2px 0 rgba(255,255,255,.2);
    position:relative;
    text-align:center;
    
    


    
    
  }
  
  /* This rule centers the nav items verticaly in the bar with the height and line height properties. Spacing between the nav items is controlled by setting right and left padding.  */
  .nav li {
    display: inline-block;
    list-style: none;
    height: 50px; /* should be the same as line-height */
    line-height: 50px; /* should be the same as height */
    padding: 0 40px; /* "0" sets top and bottom padding to none */
    border-radius: 5px 5px 5px 5px;
    
    
    

  }
  
  /* :hover allows you change the background color of the nav items when you mouse over them. Play around with the transition value to change the speed of the hover transition. */
  .nav li:hover {
    background:#c2a657;
    transition: background .3s;
    
  }
  
  /* This rule is applied to the link <a> tag. It lets you turn off the link underline and set the link text color. */
  .nav-link {
    color: #fff;
    text-decoration: none;

  }