<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Champion information</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
    
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">	-->
    
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" type="image/jpg" th:href="@{/images/lol-icon.png}">
    <script data-main="api" src="require.js" defer></script>
    
</head>
<body>
    
    <div class="basic-header-1">
        <div class="logo">
            <img th:src="@{/images/lol-icon.png}" height="35" alt="League Of Legends Logo">
        </div>
    </div>
     
    <div class="basic-header-2">
        <div class="logo-2">
            <p class="logo-2-text">LOL Stat Track</p>
        </div>
    </div>

    <nav class="nav" >
    <div class="nav-wrapper" >
        <ul id="nav-mobile" >
            <li>
                <div class="search right" >
                    <form th:action="@{/pie}" method="get">
                        <div class="row">
                            <div class="input-field col s10">
                                <input type="text" id="name" name="name" placeholder="Search summoner" required class="searchTerm"></div>
                        <div class="input-field ">
                            <div class="col s1">
                                <button class="searchButton" id="searchButton" >
                                <i class="material-icons" >search</i>
                            </div>
                        </button></div>
                      </form>
                </div>
             </li>
        
          <li><a href="./" class="nav-link">Home</a></li>
              <li>
                <div class="search right" >
                    <form th:action="@{/champ}" method="get">
                        <div class="row">
                            <div class="input-field col s10">
                                <input type="text" id="name" name="name" placeholder="Search Champion" required label="input-field" class="searchTerm"></div>
                        <div class="input-field ">
                            <div class="col s1">
                                <button class="searchButton" id="searchButton" >
                                <i class="material-icons" >search</i>
                            </div>
                        </button></div>
                      </form>
                </div>
             </li>
          

        </ul>
      </div>
  </nav>
  
  <div class = "content">
    <img id = "backgroundimage" th:src="@{/images/background.jpg}">
  </div>
    <!--Champion table-->
    <table class="container">
        <tr>
            <th ><img th:src="@{/images/champion/{image}(image=${image})}" ></th>
        </tr>
        <tr>
            <th class="head">Champion name:</th>
            <td th:text="${names}"></td>
        </tr>
        <tr>
            <th th:text="${titles}"></th>
        </tr>
        <tr>
            <td colspan="2" th:text="${blurbs}"></td>
        </tr>
    </table>

    <table class="container">
        <tr>
            <th class="head">Information:</th>
        </tr>
        <tr>
            <td>
                <ul>
                    <li>Attack:</li>
                    <li>Magic:</li>
                    <li>Defense:</li>
                    <li>Difficulty:</li>
                    <li>Partype:</li>
                </ul>
                <td>
                    <ul>
                        <li th:text="${attacks}"></li>
                        <li th:text="${magics}"></li>
                        <li th:text="${defenses}"></li>
                        <li th:text="${difficultys}"></li>
                        <li th:text="${partypes}"></li>
                    </ul>
                </td>
            </td>
        </tr>
        <tr>
            <td>Legacy Class: </td>
            <td>
                <ul>
                    <li th:text="${tag}"></li>
                    <li th:text="${tag1}"></li>
                </ul>
            </td>
        </tr>
    </table>
    <table class="container">
        <tr>
            <th>Champion Stats:</th>
        </tr>
        <tr>
            <td>
                <ul>
                    <li>mpregens</li>
                    <li>attackdamageperlevels</li>
                    <li>mp</li>
                    <li>attackranges</li>
                    <li>hps<li>
                    <li>hpperlevels</li>
                    <li>hpregens</li>
                    <li>mpregenperlevels</li>
                    <li>spellblocks</li>
                    <li>critperlevels</li>
                    <li>movespeeds</li>
                    <li>mpperlevels</li>
                    <li>armors</li>
                    <li>armorperlevels</li>
                    <li>crits</li>
                    <li>attackdamages</li>
                    <li>attackspeeds</li>
                    <li>spellblockperlevels</li>
                    <li>attackspeedperlevels</li>
                    <li>hpregenperlevels</li>
                    
                </ul>
            </td>
            <td>
                <ul>
                    <li th:text="${mpregens}"></li> 
                    <li th:text="${attackdamageperlevels}"></li> 
                    <li th:text="${mp}"></li> 
                    <li th:text="${attackranges}"></li> 
                    <li th:text="${hps}"></li> 
                    <li th:text="${hpperlevels}"></li> 
                    <li th:text="${hpregens}"></li> 
                    <li th:text="${mpregenperlevels}"></li> 
                    <li th:text="${spellblocks}"></li> 
                    <li th:text="${critperlevels}"></li> 
                    <li th:text="${movespeeds}"></li> 
                    <li th:text="${mpperlevels}"></li> 
                    <li th:text="${armors}"></li> 
                    <li th:text="${armorperlevels}"></li> 
                    <li th:text="${crits}"></li> 
                    <li th:text="${attackdamages}"></li> 
                    <li th:text="${attackspeeds}"></li> 
                    <li th:text="${spellblockperlevels}"></li> 
                    <li th:text="${attackspeedperlevels}"></li> 
                    <li th:text="${hpregenperlevels}"></li> 
                </ul>
            </td>
            <td></td>
            <td>
                
            </td>
        </tr>
    </table> 
    <br>
</body>