<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Champion Information</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
    
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">	-->
    
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" type="image/jpg" th:href="@{/images/lol-icon.png}">
    <script data-main="api" src="require.js" defer></script>
    <link rel="stylesheet" href="/stylesheets/champion.css">
</head>
<body>
    
    <div class="basic-header-1">
        <div class="logo">
            <img th:src="@{/images/lol-icon.png}" height="35" alt="League Of Legends Logo">
        </div>
    </div>
     
    <div class="basic-header-2">
        <div class="logo-2">
            <p class="logo-2-text">LOL Stat Track</p>
        </div>
    </div>

    <nav class="nav" >
    <div class="nav-wrapper" >
        <ul id="nav-mobile" >
            <li>
                <div class="search right" >
                    <form th:action="@{/pie}" method="get">
                        <div class="row">
                            <div class="input-field col s10">
                                <input type="text" id="name" name="name" placeholder="Search summoner" required class="searchTerm"></div>
                        <div class="input-field ">
                            <div class="col s1">
                                <button class="searchButton" id="searchButton" >
                                <i class="material-icons" >search</i>
                            </div>
                        </button></div>
                      </form>
                </div>
             </li>
        
          <li><a href="./" class="nav-link">Home</a></li>
              <li>
                <div class="search right" >
                    <form th:action="@{/champ}" method="get">
                        <div class="row">
                            <div class="input-field col s10">
                                <input type="text" id="name" name="name" placeholder="Search Champion" required label="input-field" class="searchTerm"></div>
                        <div class="input-field ">
                            <div class="col s1">
                                <button class="searchButton" id="searchButton" >
                                <i class="material-icons" >search</i>
                            </div>
                        </button></div>
                      </form>
                </div>
             </li>
          

        </ul>
      </div>
  </nav>

  <div class = "content">
    <img id = "backgroundimage" th:src="@{/images/background.jpg}">
  </div>
    <!--Champion table-->
    <div  class="row">
        <div class="column">
    <table class="container" >
        <tr colspan="3">
            <td class="center-align"><img th:src="@{/images/champion/{image}(image=${image})}"><p>
                <h5 th:text="${names}"> </h5><p th:text="${titles}"></p></p></th>
        </tr>
            <td class="center-align">  <span colspan="3" th:text="${lores}"></span> </td>
    </table>

    <table class="container">
        <tr>
            <td colspan="3"class="center-align">Information</th>
        </tr>
        <tr >
            <td>
                <ul>
                    <li>Attack:</li>
                    <li>Magic:</li>
                    <li>Defense:</li>
                    <li>Difficulty:</li>
                    <li>Partype:</li>
                    <li>Legacy Class:
                </ul>
                <td>
                    <ul>
                        <li style="font-weight: lighter;" th:text="${attacks}"></li>
                        <li style="font-weight: lighter;" th:text="${magics}"></li>
                        <li style="font-weight: lighter;" th:text="${defenses}"></li>
                        <li style="font-weight: lighter;"th:text="${difficultys}"></li>
                        <li style="font-weight: lighter;"th:text="${partypes}"></li>
                        <li><span th:text="${tag}" ></span>, <span th:text="${tag1}"></span></li>
                    </ul>
                </td>
        </tr>
    </table>
    </div>
    <div class="column">
    <table class="container">

        <tr>
            <td class="center-align" colspan="4">Health & Resources</th>
        </tr>
        <tr>
            <td>Health HP (+perlevel): 
                <p><span th:text="${hps}"></span>
                +<span th:text="${hpperlevels}"></span></p>
            </td>
            <td>Health HP Regen. (+perlevel): 
                <p><span th:text="${hpregens}"></span>
                +<span th:text="${hpregenperlevels}"></span></p></td>
            <td>Resources MP (+perlevel): 
                <p><span th:text="${mp}"></span>
                +<span th:text="${mpperlevels}"></span></p></td>
            <td>Resources MP Regen. (+perlevel): 
                <p><span th:text="${mpregens}"></span>
                +<span th:text="${mpregenperlevels}"></span></p></td>
            </td>
        </tr>
            <td>Move Speed (+perlevel): 
                <p><span th:text="${armors}"></span>
                +<span th:text="${armorperlevels}"></span></p></td>
            <td>Spell Block (+perlevel): 
                <p><span th:text="${spellblocks}"></span>
                +<span th:text="${spellblockperlevels}"></span></p> </td>
            <td>Crit (+perlevel): 
                <p><span th:text="${crits}"></span>
                +<span th:text="${critperlevels}"></span></p></td>
        <tr>   
        </tr>
        <tr>
            <td class="center-align" colspan="4">Attack</th>
        </tr>
        <tr>
            <td>Attack Range: 
                <p></p><span th:text="${attackranges}"></span></p></td>
            <td>Attack Damage (+perlevel):
                <p><span th:text="${attackdamages}"></span>
                +<span th:text="${attackdamageperlevels}"></span></p></td>
            <td>Attack Speed (+perlevel):
                <p><span th:text="${attackspeeds}"></span>
                +<span th:text="${attackspeedperlevels}"></span></p></td>
        </tr>
        <tr>
            <td class="center-align" colspan="4">Abilities</td>
        </tr>
        <tr >
            <td colspan="2">Spells:
                <ul>
                    <li style="font-weight: lighter;" th:text="${spells0}"></li>
                    <li style="font-weight: lighter;"th:text="${spells1}"></li>
                    <li style="font-weight: lighter;"th:text="${spells2}"></li>
                    <li style="font-weight: lighter;"th:text="${spells3}"></li>
                </ul> 
            </td>
            <td ><span th:text="${passives}"></span>

                <img th:src="@{/images/passive/{passimg}(passimg=${passimg})}">
            </td>
        </tr>
    </table> 
</div>
    <br>
</body>