<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="../../resources/public/stylesheets/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">	

    <link rel="shortcut icon" type="image/jpg" href="../../resources/templates/images/lol-icon.png">
</head>

<body>
    
    <div class="basic-header-1">
        <div class="logo">
            <img src="../../resources/templates/images/lol-icon.png" height="35" alt="Leagu Of Legends Logo">
        </div>
    </div>
     
    <div class="basic-header-2">
        <div class="logo-2">
            <p class="logo-2-text">LOL Stat Track</p>
        </div>
    </div>

    <div class="nav">
        <ul>
          <li><a href="#" class="nav-link">Home</a></li>
          <li><a th:href="@{/login}" class="nav-link">Login</a></li>
          <li><a href="#" class="nav-link">Search</a></li>
          <li><a href="#" class="nav-link">About Us</a></li>

        </ul>
      </div>

    

    <div class = "content">
        <img id = "backgroundimage" src="images/background.jpg">

        <div class="wrap">
            <div class="search">
               <input type="text" class="searchTerm" placeholder="Search summoner">
               <button type="submit" class="searchButton">
                 <i class="fa fa-search"></i>
              </button>
            </div>
         </div>

        
    
    </div>
    
