<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>

<body>
    <div class ="header">
        <div class = "container">
            <h1 class = "headertitle">
                <ul class = "navbar">
                    <strong> LOL Stat Track </strong>
                    <li><a href = "#home">Home</a></li>
                    <li><a th:href="@{/login}">Login</a></li>
                   <!-- <a th:href="@{/search}">Search</a>--> 
                </ul>
            </h1>
        </div>
    </div>

    <nav class ="nav bar navbar-default navbar-static-top navbar-inverse">
        <div class = "container">
            <!---not finished, not linked to anything-->
            <div class = "center">
            <h1 class = "headertitle"> Search </h1>
            <input type="text" placeholder="Enter Summoner" name="search">
            <input type="submit" value="Submit"></button>
            </div>
            
        </div>

    </nav>

</body>