<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
    <!--<link rel="stylesheet" th:href="main.css">-->
    <link rel="stylesheet" href="/stylesheets/main.css">
    
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">	-->
    
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" type="image/jpg" th:href="@{/images/lol-icon.png}">
    <script data-main="api" src="require.js" defer></script>



</head>

<body>
    
    <div class="basic-header-1">
        <div class="logo">
            <img th:src="@{/images/lol-icon.png}" height="35" alt="League Of Legends Logo">
        </div>
    </div>
     
    <div class="basic-header-2">
        <div class="logo-2">
            <p class="logo-2-text">LOL Stat Track</p>
        </div>
    </div>

    <nav class="nav" >
    <div class="nav-wrapper" >
        <ul id="nav-mobile" >
            <li>
                <div class="search right" >
                    <form th:action="@{/summ}" method="get">
                        <div class="row">
                            <div class="input-field col s10">
                                <input type="text" id="name" name="name" placeholder="Search summoner"></div>
                        <div class="input-field ">
                            <div class="col s1">
                                <button class="searchButton" id="searchButton">
                                <i class="material-icons">search</i>
                            </div>
                        </button></div>
                      </form>
                </div>
             </li>
        
          <li><a href="./" class="nav-link">Home</a></li>
          <li><a href="#" class="modal-trigger" data-target="modal-about-us">About Us</a></li>
          <li class="logged-out" style = "display:none">
              <a href="#" class="modal-trigger" data-target="modal-login">Login</a></li>
          <li class="logged-out" style = "display:none">
              <a href="#" class="modal-trigger" data-target="modal-signup">Create Account</a></li>
          <li class="logged-in" style = "display:none">
              <a href="#" class="modal-trigger" data-target="modal-account">Account</a></li>
          <li class="logged-in" style = "display:none">
              <a href="#" class="modal-trigger" id="logout">Logout</a></li>
          
          

        </ul>
      </div>
  </nav>

      <!--Create Account-->
      <div id="modal-signup" class="modal">
        <div class="modal-content">
          <h4>Create Account</h4><br />
          <form id="signup-form">
            <div class="input-field">
              <input type="email" id="signup-email" required />
              <label for="signup-email">Email address</label>
            </div>
            <div class="input-field">
              <input type="password" id="signup-password" required />
              <label for="signup-password">Password</label>
            </div>
            <div class="input-field">
                <input type="text" id="signup-lolid" required />
                <label for="signup-bio">League Account ID</label>
              </div>
              <p class="error red-text center-align"></p>
            <button class="btn #00796b teal darken-2 z-depth-0">Create Account</button>
          </form>
        </div>
      </div>

        <!-- account -->
    <div id="modal-account" class="modal">
        <div class="modal-content center-align">
        <h4>Account details</h4><br/>
        <div class="account-det"></div>
        </div>
    </div>
        <!--about us-->
    <div id="modal-about-us" class="modal">
        <div class="modal-content center-align">
        <h4>About Us</h4><br/>
        <div>This is a simple project developed to display game statistics for the Game Leaague of Legend</div>
        </div>
    </div>
        <!-- login -->
    <div id="modal-login" class="modal">
        <div class="modal-content">
        <h4>Login</h4><br/>
        <form id="login-form">
            <div class="input-field">
            <input type="email" id="login-email" required />
            <label for="login-email">Email address</label>
            </div>
            <div class="input-field">
            <input type="password" id="login-password" required />
            <label for="login-password">Password</label>
            </div>
            <p class="error red-text center-align"></p>
            <button class="btn #00796b teal darken-2z-depth-0">Login</button>
        </form>
        </div>
    </div>

    <div class = "content">
        <img id = "backgroundimage" th:src="@{/images/background.jpg}">

        
    </div>

    <!-- infos -->
    <div class="container" style="margin-top: 40px;">
        <ul class="collapsible z-depth-0 infos" style="border: none;">
        </ul>
    </div>

    <!-- only for admin -->
    <div class="container" style="margin-top: 40px;">
        <ul class="collapsible z-depth-0 admin-info" style="border: none;">
        </ul>
    </div>
    
    <!-- mock db for summoner search-->
    <!--
    <div class="container">
        <ul id="mysumm" class="logged-in" style = "display:none">
            <li><a href="#">Aatar</a></li>
            <li><a href="#">Aron</a></li>
            <li><a href="#">Cargo</a></li>
            <li><a href="#">Cortes</a></li>
            <li><a href="#">Demo</a></li>
            <li><a href="#">Jarvis</a></li>
            <li><a href="#">Kor</a></li>
            <li><a href="#">Kar</a></li>
        </ul>
    </div>-->

    <script src="https://www.gstatic.com/firebasejs/8.7.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.7.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.7.0/firebase-firestore.js"></script>
    <script>
    
            // Your web app's Firebase configuration/*
        var firebaseConfig = {
            apiKey: "AIzaSyAyZFD38P5DS_6_RUSLGjAbbAjce3neO90",
            authDomain: "login-9a731.firebaseapp.com",
            projectId: "login-9a731",
            storageBucket: "login-9a731.appspot.com",
            messagingSenderId: "25737172393",
            appId: "1:25737172393:web:4166bfdeff7ebe47fce0b8"
        };

        firebase.initializeApp(firebaseConfig);
  
         //make auth & firestore reference;
        const auth = firebase.auth();
        const db = firebase.firestore();

        //firestore settings
        db.settings({merge: true});
        
        //function for mock summoner retrival
        /*
        function myFunction() {
            var input, filter, ul, li, a, i, Val;
            input = document.getElementById("summonerSearch");
            filter = input.value.toUpperCase();
            ul = document.getElementById("mysumm");
            li = ul.getElementsByTagName("li");
            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("a")[0];
                Val = a.textContent || a.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";
                }
            }
    }*/
</script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <!--
    <script src="formfire.js"></script>
    <script src="index.js"></script>-->
    <!---->
    <script th:src="@{/js/formfire.js}"></script>
    <script th:src="@{/js/index.js}"></script>
    <script th:src="@{/js/riotapi.js}"></script>
    
</body>
</html>