<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Recover Password</title>
    
    <!-- link to .css file  -->
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>

<body>
    <div class="container">

        <!-- login form -->
        <form class="form" id="signup">
            <h1 class="form_title">Recover Password</h1>
            
            <div class="form_message form_message_error"></div>
            
            <!-- Username or email -->
            <div class="form_input_group">
                <input type="text" class="form_input" autofocus placeholder="Username or email">
                <div class="form_input_error_message"></div>
            </div>


            <button class="form_button" type="submit">Continue</button>


            

        </form>

        <!-- create account form-->
        <form class="form form_hidden" id="createAccount">
            <h1 class="form_title">Recover Password</h1>

            <div class="form_message form_message_error"></div>
            
            <!-- Username -->
            <div class="form_input_group">
                <input type="text" id="signupUsername" class="form_input" autofocus placeholder="Username">
                <div class="form_input_error_message"></div>
            </div>

            <!-- Email address -->
            <div class="form_input_group">
                <input type="text" class="form_input" autofocus placeholder="Email Address">
                <div class="form_input_error_message"></div>
            </div>


            <button class="form_button" type="submit">Continue</button>
            

        </form>

    </div>

    <!-- link to .js file  -->
    <script src="login.js"></script>

</body>