<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Login / Sign Up Form</title>
    
    <!-- link to .css file  -->
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>

<body>
    <div class="container">

        <!-- login form -->
        <form class="form" id="signup">
            <h1 class="form_title">Sign Up</h1>
            
            <div class="form_message form_message_error"></div>
            
            <!-- Username or email -->
            <div class="form_input_group">
                <input type="text" class="form_input" autofocus placeholder="Username or email">
                <div class="form_input_error_message"></div>
            </div>

            <!-- Password -->
            <div class="form_input_group">
                <input type="password" class="form_input" autofocus placeholder="Password">
                <div class="form_input_error_message"></div>
            </div>
            <div class="form_input_group">
                <input type="password" class="form_input" autofocus placeholder="Confirm Password">
                <div class="form_input_error_message"></div>
            </div>

            <button class="form_button" type="submit">Continue</button>


            

        </form>

        <!-- create account form-->
        <form class="form form_hidden" id="createAccount">
            <h1 class="form_title">Create Account</h1>

            <div class="form_message form_message_error"></div>
            
            <!-- Username -->
            <div class="form_input_group">
                <input type="text" id="signupUsername" class="form_input" autofocus placeholder="Username">
                <div class="form_input_error_message"></div>
            </div>

            <!-- Email address -->
            <div class="form_input_group">
                <input type="text" class="form_input" autofocus placeholder="Email Address">
                <div class="form_input_error_message"></div>
            </div>

            <!-- Password -->
            <div class="form_input-group">
                <input type="password" class="form_input" autofocus placeholder="Password">
                <div class="form_input_error_message"></div>
            </div>

            <!-- Confirm password -->
            <div class="form_input_group">
                <input type="password" class="form_input" autofocus placeholder="Confirm password">
                <div class="form_input_error_message"></div>
            </div>

            <button class="form_button" type="submit">Continue</button>
            
            <p class="form_text">
                <a class="form_link" href="./" id="linkLogin">Already have an account? Sign in</a>
            </p>

        </form>

    </div>

    <!-- link to .js file  -->
    <script src="login.js"></script>

</body>