<!--  display champions  -->

<!DOCTYPE html>
 <html lang="en">
 <head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Champions</title>
   <link rel="stylesheet" href="champions.css">
   <link rel="shortcut icon" type="image/jpg" th:href="@{/images/lol-icon.png}">

 </head>
 <body>
   
  <div class = "title">
    <h1> CHAMPIONS</h1>
  </div>
  
  <!--scripting-->
  <script>
    var ul = document.createElement('ul')
    
    fetch('champions.json').then(function(res) {
      res.json().then(function(champions) {
        champions.forEach(function(champion) {
          ul.innerHTML += `
          <li>

          <div class = "Wrapper">
            <div class ="championName"> 
              <span>${champion.name}</span>
            </div>

            <div id = "imagesMain">
              <div class = "imagebox">
                <img src="${champion.icon}">
                <div class = "caption">${champion.description}</div>
              </div>
            </div>
          </div>

          </li>
          `
        })
      })
    })

    document.body.appendChild(ul)
  </script>
 
</body>
</html> 
  
